@use 'variables';
@use 'mixins';

// BUTTON

.button {
    @include mixins.center;
    border-radius: 10px;

    &--primary {
        background-color: variables.$color-primary;
    }

    &--shadow {
        box-shadow: 5px 5px 15px variables.$color-objects;
    }


    &:hover {
        box-shadow: 5px 5px 8px variables.$color-objects;
        background-color: variables.$color-primary--hover;
    }

    &:active {
        box-shadow: 3px 3px 5px variables.$color-objects;
        // doesn't work
    } 
}

.icon {
    display: flex;
    align-items: center;

    &-edit {
        margin-right: 20px;
        padding: 7px;
        @include mixins.center;

        &:hover,
        &:active {
            background-color: variables.$color-icon--neutral;
            border-radius: 50%;
        }
    }

    &-remove {
        padding: 7px;
        @include mixins.center;

        &:hover {
            background-color: variables.$color-icon--danger;
            border-radius: 50%;
        }
    }

    &-new {
        color: variables.$color-primary;
    
        &:hover {
            color: variables.$color-primary--hover;
        }
    }

    &-duplicate {
        margin-right: 10px;
        @include mixins.center;
        padding: 10px 10px;
        background-color: variables.$color-icon--neutral;
        border-radius: 50%;
    
        &:hover {
            background-color: variables.$color-primary;
        }
    }

}


// .tag {
//     background-color: variables.$color-primary;
//     border-radius: 10%;
//     padding: 1px;
//     margin-right: 6px;

//     &--grey {
//         background-color: variables.$color-icon--neutral;
//     }
// }

