@use 'variables';
@use 'mixins';

.header {
    padding: 20px 0 50px 0;

    display: flex;
    justify-content: space-between;
    align-items: center;

    &__page-title {
        font-weight: normal;
    }

    &__tools {
        display: flex;
        align-items: center
    };

    &__price {
        padding: 0 30px 0 20px;
        font-size: 20px;
    }
}