@use 'variables';
@use 'mixins';

.header {
    padding: 20px 0 50px 0;

    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    &__page-title {
        font-weight: normal;
        
    }

    &__right {
        display: flex;
        align-items: center;
        justify-content: center;
    };


    &__object,
    &__project-top {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__project-icons {
        margin-left: 20px;
        display: flex;

        .icon-edit {
            margin-right: 3px;
        }
    }



    &__price {
        display: inline-block;
        margin-top: 20px;
        padding: 5px;
        font-size: 14px;
        background-color: #b9b6c2;
        border-radius: 10px;
        // font-weight: bold;
        color: white;
    }
}

