$color-primary: #febe0c;
$color-primary--hover: #ffbb00;
$color-primary--highlight: #FAC835;
$color-text-secondary: #A2A6AA;
$color-navbar--light: #FFFFFF;
$color-navbar--dark: #2E2A3D;
$color-objects: #CED6DF;
$color-icon--neutral: #EFF1F3;
$color-icon--danger: #FFD8D8;