<header class="header">

    <div class="navbar  navbar--light">

        <div class="navbar__link-box">

            <a href="#" class="navbar__link navbar__link--dark"><span class="highlight">Přihlášení</span></a>

        </div>

        <div class="navbar__link-box navbar__link-box--border navbar__link-box--hide">

            <a href="#" class="navbar__link navbar__link--dark"><span class="highlight">Registrace</span></a>

        </div>
        
    </div>

</header>